<?xml version="1.0"?>
<ruleset name="Quorlyx">
	<description>WordPress Coding Standards checks for the Quorlyx plugin.</description>

	<file>quorlyx.php</file>
	<file>assets</file>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg value="ps"/>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>*/docs/*</exclude-pattern>

	<rule ref="WordPress"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.DB.DirectDatabaseQuery.DirectQuery">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.DB.DirectDatabaseQuery.NoCaching">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.DB.DirectDatabaseQuery.SchemaChange">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.DB.PreparedSQLPlaceholders.UnfinishedPrepare">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.WP.PostsPerPage.posts_per_page_posts_per_page">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.system_calls_shell_exec">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.WP.AlternativeFunctions.file_system_operations_is_writable">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.obfuscation_base64_decode">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.obfuscation_base64_encode">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.Security.NonceVerification.Recommended">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents">
		<severity>0</severity>
	</rule>
	<rule ref="Universal.NamingConventions.NoReservedKeywordParameterNames.functionFound">
		<severity>0</severity>
	</rule>
</ruleset>
